@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body{
    overflow-x: hidden;
    
}

.first_Page{
    min-height: 100vh;
    height: 400px;
    background-image: url(./pexels-diyar-shahbaz-17764453.jpg);
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */

}
*{
    max-width: 100vw;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: rgba(98, 198, 198, .5);
    z-index: 2;
}

.leftSide{
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: leftSide 5s forwards;
}
.nav-links{
    height: 100%;
    margin: auto;
}
.logo{
    height: 60px;
    width: 100px;
    /* background-color: red; */
}
.navbar-nav >li>a{
    color: darkgreen;
    font-weight: bolder;
}
.main{
    min-height: 100vh;
    background-image: url(./pexels-mahmoud-atashi-17104400.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    /* background-attachment: fixed; */
    align-items: center;
    justify-content: center;

}
.down{
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;   
}
.down>svg{
    font-size: xx-large;
    /* color: red; */
    height: 200px;
    animation: downOk 2s linear infinite ;
}

.baska{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.foto{
    width: inherit;
    border-radius: 20px;
    box-shadow: 1px 1px 10px green;
    animation: foto 1s alternate infinite;
    z-index: 1;

}
.baska{
   min-height: 100px;
}
.yazi{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    
}
.yazi > p {
    width: 300px;
    border-radius: 40px;
    /* border: 1px solid black; */
    background-color: rgba(120, 120, 230, .5);
    font-family: "Dancing Script", cursive;
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.contact{
    min-height: 50vh;
    background-image: url(./pexels-zetong-li-18780512.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

.icons>a:hover{
   transform: scale(2);
   transition: 2s all linear;
   /* transform: skewX(360deg); */
}









@keyframes downOk{
    0%{
        transform: translateY(-20px);
      
    }
    100%{
        transform: translateY(20px);
       
    }
}

@keyframes leftSide{
    0%{
        transform: translateY(0px);
        transition: 5s all linear;
        color: darkkhaki;
        opacity: 0;
    }
    100%{
        transform: translateY(300px);
        transition: 5s all linear;
        color: aqua;
        opacity: 1;
        text-shadow: 5px 5px 10px grey;
    }
}
@keyframes foto{
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(10px);
    }
    
}